body{margin: 0;font-family: 'Helvetica', sans-serif;}



header{background-color: slategrey; 
		text-align: center; padding-top: 20px; padding-bottom: 20px;}


header h1{color: white;
}



header img {
    border-radius: 150px;
    width: 200px;
		    border: 10px solid darkgray;
}
